<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-new navbar-expand-lg">
        <div class="navbar-brand" style="color: #3c62c9; font-size: 36px">
          Clg Admin App
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% comment %}
            <li class="nav-item">
              <a class="nav-link" href="#"> Home </a>
            </li>
            {% endcomment %}
            <li class="nav-item">
              <button
                style="
                  border-radius: 5px;
                  border-color: #3a4391;
                  padding-left: 25px;
                  padding-right: 25px;
                  height: 45px;
                "
                class="nav-link"
                href="#"
              >
                <a href="/members/home/"> Logout</a>
                <span class="sr-only">(current)</span>
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <div class="section">
        {% comment %} Tabs {% endcomment %}
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                Teacher View
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                Student View
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div
                class="d-flex flex-row"
                style="justify-content: space-around; align-items: center"
              >
                <a href="/teachers/register/" class="me-5">Add Teacher</a>
                <a href="/teachers/display/" class="me-5"
                  >View / Edit Teachers</a
                >
              </div>
              <div class="container mt-5">
                <div
                  class="flex-row d-flex"
                  style="justify-content: center; align-items: center"
                >
                  {% block base %} {% endblock %}
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div
                class="d-flex flex-row"
                style="justify-content: space-around; align-items: center"
              >
                <a href="/students/register/" class="me-5">Add Students</a>
                <a href="/students/display/" class="me-5"
                  >View / Edit Students</a
                >
              </div>
              <div class="container mt-5">
                <div
                  class="flex-row d-flex"
                  style="justify-content: center; align-items: center"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
